\documentclass{article}
\usepackage{amsmath}
\usepackage{siunitx}
\usepackage[utf8]{inputenc}
\usepackage{textgreek}
\begin{document}
\section*{Solutions}
\begin{enumerate}
{% for q in questions %}
  \item {{ q.text }}\\
  Correct answer: {{ q.correctAnswer | upper }}\\
  {{ q.explanation }}
{% endfor %}
\end{enumerate}
\end{document}
